.card{
    max-width: 900px;
    margin: 0 100px;
    padding: 10px;
    text-align: justify;
}
#header{
    margin-top: 20px;
    text-align: center;
    font-size: larger;
    font-weight: 600 ;
}
.question{
    margin-bottom: 10px;
    padding :5px;
    padding-left: 19px;

}

.li{

    list-style: none;
    cursor: pointer;
    margin: 10px 0;
    padding: auto;
}

li .card:hover{
    border:2px solid rgb(18, 18, 221)
}

li .card:focus{
    background-color: rgb(47, 68, 255);
}

.quiz-header{
    text-align: center;
    font-size: xx-large;
}

.question-count{
    font-size: x-large;
}
